@tailwind base;

@import './lib';
@import './variables.module.scss';

@include import-fonts($fonts-location);

@import './elements';
@import './components/lists';

.container {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  @include respond(lg) {
    max-width: 1440px;
  }
}


@tailwind components;
@tailwind utilities;
