@import '~@/style/variables';

$header-background-color: theme-color(header-background) !default;
$header-color-text: #fff;

.header {
    background: $header-background-color;
    color: $header-color-text;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 5px 0;

    @include respond(sm) {
        padding: 0;
    }

    &_title {
        @include font-type(header-title);
        text-align: center;

        @include respond(md) {
            padding-left: 20px;
            text-align: left;
        }

        &_link {
            &, &:visited, &:active, &:focus {
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                color: theme-color(primary);
            }
        }
    }
}