@import '~@/style/variables';

$header-background-color: theme-color(header-background) !default;
$header-color-text: #fff;

.header {
    background: $header-background-color;
    color: $header-color-text;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    &_title {
        @include font-type(header-title);
        text-align: center;

        @include respond(md) {
            text-align: left;
        }

        &_link {
            &, &:visited, &:active, &:focus {
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                color: theme-color(primary);
            }
        }
    }
}

$header-social-list-color: currentColor !default;
$header-social-list-hover-color: theme-color(primary) !default;

.social {
    &_list {
        margin: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        list-style-type: none;
        padding: 0px;

        &_item {
            margin-right: 20px;

            &:hover {
                color: $header-social-list-hover-color;
                cursor: pointer;
                transition: color 200ms ease-in-out;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &_link {
            &, &:active, &:visited, &:focus {
                color: inherit;
            }

            &:hover {
                color: $header-social-list-hover-color;
                cursor: pointer;
                transition: color 200ms ease-in-out;
            }
        }
    }
}