@import '~@/style/variables';

$header-nav-item-spacing: 40px !default;
.nav {
    display: none;

    @include respond(lg) {
        display: block;
        justify-content: left;
    }

    // border
    padding: 0 $header-nav-item-spacing;
    &-list {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;

        &_item {
            vertical-align: baseline;
            margin: 3px $header-nav-item-spacing 0 0;

            &:last-child {
                margin: 3px 0 0 0;
            }
        }

        &_link {
            &, &:visited, &:focus, &:active {
                color: currentColor;
                text-decoration: none;
                cursor: pointer;
            }

            scroll-behavior: smooth;

            &.is-active {
                color: theme-color(primary);
            }
        }
    }
}