
@import '~@/style/variables.scss';

@keyframes slideshow {
    0% {
        left: 0;
    }
    100% {
        left: -200%;
    }
}

@keyframes moveSlideshow {
    0% {
        left: 0;
    }
    100% { 
        transform: translateX(-33.33%);
    }
}

.endless-scroll {
    &-container {
        position: relative;
        overflow: hidden;
        max-height: 100%;
        height: 100%;
        display: flex;
        transform: translate3d(0, 0, 0);
    }

    &-items {
        animation: moveSlideshow 30s linear infinite;
        left: 0;
        top: 0;
        bottom: 0;
        height: auto;
        width: 300%;
        // width: auto;
        display: flex;

        > div {
            flex: 1 1 100%;
            width: 100%;
        }
    }
}